body {
  background: #266969;
}
main {
  height: 100%;
  
}
#boxes {
  position:absolute; left:600px; top:250px;
  background-color: #369696;
  border: 2px solid #0e0e44;
  border-radius: 10px;
  width: 350px;
  height: 250px;
  text-align: center;
  align-content: center;
  align-items: center;
}

#box1 {
  color: #c4e9e7;
  border-radius: 10px;
  text-align: center;
}

#box2 button {
  color: #d2eeed;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #5ed4d2;
  width: 200px;
  height: 30;
  cursor: pointer;
}
